.profle{
    overflow: hidden;
    width: 100px;
    height: 100%;
}
.img{
    width: 60%;
    height: 75%;
    overflow: hidden;
    border-radius: 50%;
    right: 0;
}
.fw-semibold {
     font-weight: 600 !important;
}
.d-block {
    display: block !important;
}
